


.inlineBlock{
    display: flex;
    padding: 5px;
   
}

header{
    display: flex;
    height: 60px;
    background-color:#0A0A16;
    padding-left: 204px;
    padding-right: 204px;
    align-items: flex-end;

}

#mainLogo {
    position: absolute;
    top: 0%;
    left:50%;
    right: 50%;
    transform:translate(-50%,0%);
   


}

.navigation{
    display: flex;
    width: 316px;
    justify-content: space-between;
    align-items: flex-end;
    color: #DAE6FA;
    font-family: 'Kotta One', serif;
    font-size: 14;

  
}

.heroImage {
    display: flex;
    height: 682px;
    background-image: url(Images/TriplelightAIenhanced.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   

}

.introText, .hello {
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    color: #DAE6FA;
    text-align: center;
    width: 333px;
    font-size: 16;
    

   
}
.hello{
    padding-top: 250px;
    font-size: 22;
    text-shadow: 0px 0px 12px 0px #E79C48;
}

.introText{
    padding-bottom: 100px;
    text-shadow: 0px 0px 12px 0px #E79C48;
}
.arrow {
   
    background-color: transparent;
  
    
    

}